.goal-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9fb;
  }
  
  .goal-box {
    width: 100%;
    max-width: 420px;
    background-color: #ffffff;
    padding: 40px 40px 10px 40px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    margin-top:40px;
    margin-bottom:40px;
  }
  
  .goal-box h2 {
    font-size: 26px;
    color: #2A160C;
    margin-bottom: 30px;
    text-align: center;
  }
  
  .goal-field {
    margin-bottom: 5px;
  }
  
  .goal-field label {
    font-weight: bold;
    font-size: 14px;
    color: #555;
    display: block;
    margin-bottom: 6px;
  }
  
  .goal-value {
    font-size: 15px;
    color: #222;
    background-color: #f4f4f4;
    padding: 10px 12px;
    border-radius: 6px;
  }

  .acc-val2 {
    font-size: 15px;
    /* color: #222; */
    border: none;
    background-color: #f4f4f4;
    padding: 10px 12px;
    width:100%;
    border-radius: 6px;
  }

  .set-goals-btn {
    margin-top:30px;
  }